@charset "UTF-8";

/*네비게이션 고정*/
#gnb>li:nth-child(1)>.lnb {
	display: block;
}
#gnb>li:nth-child(1)>.lnb>li:nth-child(2) {
	background-color: #012840;
}
#gnb>li:nth-child(1)>.lnb>li:nth-child(2)>a {
	color: #fff;
}

/*검색 영역*/
.box-search {
	width: 100%;
	height: 100px;
	padding: 20px;
	border: 1px #C8C8C8 solid; 
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
.box-search>form {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*검색 요소*/
.area-search-input {
	display: flex;
	align-items: center;
	float: left;
}
.search-title {
	display: inline-block;
	width: 25%;
	text-align: right;
}

/*고객번호 input*/
.box-input-text {
	width: 75%;
	display: flex;
	justify-content: flex-start;
}
.box-input-text>input {
	width: 45%;
}
.box-input-text>input:first-child {
	width: 42%;
	margin-left: 5%;
}

/*고객번호 검색 버튼*/
.btn-one-search {
	width: 15%;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.btn-one-search>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
}

/*최종검색 버튼*/
.area-btn {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-submit {
	width: 50px;
	height: 50px;
	background-color: #114574;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
}
.btn-submit>span {
	font-size: 25px;
	color: #fff;
	padding-top: 5px;
}

/*결과영역(공통)*/
fieldset {
	width: 100%;
	border: 1px #C8C8C8 solid; 
	padding: 15px 25px 10px;
	margin-bottom: 20px;
	display: flex;
	column-gap: 30px;
	flex-wrap: wrap;
}
legend {
	padding: 0 10px;
}

/*입력 영역(공통)*/
.one-input {
	width: 31.5%;
	height: 30px;
	margin: 0 0 15px 0;
	display: flex;
	align-items: center;
}
.row-margin {
	margin-right: 34.3%;
}
.input-title {
	width: 35%;
	padding-left: 10px;
	float: left;
	font-size: 15px;
	position: relative;
}
.required {
	left: 0;
}

/*input 입력*/
.box-input {
	width: 65%;
	font-size: 15px;
	float: left;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.style-input {
	width: 100%;
	padding: 0 10px;
}
input[type="date"]{
	padding: 0 10px;
}

/*radio 영역*/
.box-radio {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
input[type="radio"] {
	margin-right: 10px;
}
.box-radio>label {
	font-size: 15px;
}

/*select 영역*/
.select-arrow {
	font-size: 18px;
	position: absolute;
	right: 15px;
	top: 7px;
}
.box-input>select>option {
	font-size: 14px;
}

/*mblNo 영역*/
.box-input>.mblNo {
	width: 27%;
}

/*핸드폰 체크버튼*/
.btn-check {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.btn-check>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
	color: #9BDF30;
}

/*prt 영역*/
.box-input>.prt {
	width: 42.6%;
}

/*email 영역*/
.box-input>.email {
	width: 45%;
}

/*addr 영역*/
.row-addr {
	width: 100%;
}
.row-addr .input-title {
	width: 11.1%;
}
.box-addr {
	width: 88.9%;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
}
.box-addr>input {
	width: 49.7%;
	display: inline-block;
}

/*고객상태 라디오*/
.box-custss {
	width: 65%;
}

/*버튼 영역*/
.box-btn {
	text-align: right;
	margin-top: 30px;
}
.box-btn>button {
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.btn-golist {
	border: 1px #c8c8c8 solid;
}
.btn-golist>a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.btn-save {
	margin-left: 15px;
	background-color: #114574;
	color: #fff;
}


/*구매영역*/
.purchase input{
	text-align: right;
}