@charset "UTF-8";

/*틀 설정*/
.box-title {
	height: 20px;
	margin-bottom: 20px;
}
fieldset {
	width: 100%;
	border: 1px #C8C8C8 solid; 
	padding: 15px 25px 10px;
	margin-bottom: 20px;
	display: flex;
	column-gap: 50px;
	flex-wrap: wrap;
}
legend {
	padding: 0 10px;
}

/*입력영역*/
.one-input {
	width: 46.6%;
	height: 30px;
	margin: 0 0 15px 0;
	display: flex;
	align-items: center;
}

.input-title {
	width: 35%;
	padding-left: 10px;
	float: left;
	font-size: 15px;
	position: relative;
}
.required {
	left: 0;
}

/*input 입력*/
.box-input {
	width: 65%;
	font-size: 15px;
	float: left;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.style-input {
	width: 100%;
	padding: 0 10px;
}
input[type="date"]{
	padding: 0 10px;
}

/*radio 영역*/
.box-radio {
	width: 40%;
	float: left;
	display: flex;
	justify-content: space-between;
}
input[type="radio"] {
	margin-right: 10px;
}
.box-radio>label {
	font-size: 14px;
}

/*select 영역*/
.select-arrow {
	font-size: 18px;
	position: absolute;
	right: 15px;
	top: 7px;
}
.box-input>select>option {
	font-size: 14px;
}

/*mblNo 영역*/
.box-input>.mblNo {
	width: 27%;
}

/*핸드폰 체크버튼*/
.btn-check {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.btn-check>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
	color: #FF5E4D;
}

/*prt 영역*/
.box-input>.prt {
	width: 48.7%;
}

/*email 영역*/
.box-input>.email {
	width: 45%;
}

/*addr 입력*/
.row-addr {
	width: 100%;
}
.row-addr .input-title {
	width: 16.4%;
}
.box-addr {
	width: 83.6%;
	display: flex;
	justify-content: space-between;
}
.box-addr>input {
	width: 49.6%;
	display: inline-block;
}


