@charset "UTF-8";

/*틀 설정*/
.box-title {
	margin-bottom: 15px;
}
fieldset {
	width: 100%;
	border: 1px #C8C8C8 solid; 
	padding: 20px;
	margin-bottom: 20px;
}
legend {
	padding: 0 10px;
}

/*입력영역*/
.one-input {
	width: 100%;
	margin: 0 0 10px 0;
	display: flex;
	align-items: center;
}
.search-title {
	width: 40%;
	display: inline-block;
	padding-right: 0;
	float: left;
	position: relative;
}
.required {
	padding-right: 5px;
	position: absolute;
	top: 4px;
}
.box-input {
	width: 60%;
	font-size: 15px;
	float: left;
	
	display: flex;
	justify-content: space-between;
}
.style-input {
	width: 100%;
	padding: 0 10px;
}
.mblNo {
	width: 30%;
	position: 
}
.mblNo:first-child {
	width: 25%;
}
.mblNo:after {
	content: "-";
	display: block;
}