@charset "UTF-8";

/*틀 설정*/
.box-title {
	margin-bottom: 15px;
}
fieldset {
	width: 100%;
	border: 1px #C8C8C8 solid; 
	padding: 20px;
	margin-bottom: 20px;
}
legend {
	padding: 0 10px;
}

/*입력영역*/
.one-input {
	width: 100%;
	margin: 0 0 10px 0;
}
.search-title {
	width: 35%;
	display: inline-block;
	padding-right: 0;
}
.required {
	padding-right: 5px;
}
.box-input {
	display: inline-block;
	width: 63%;
	font-size: 15px;
}
.style-input {
	width: 100%;
}