@charset "UTF-8";

/*사용자 정보 박스*/
.box-search {
	height: 70px;
	justify-content: inherit;
	align-items: center;
}
.search-title {
	padding-right: 30px; 
}
.box-info {
	display: inline-block;
}
.box-info>input:first-child {
	margin-right: 10px;
}

/*결과 영역*/
.result-content {
	height: calc(100vh - 285px);
}

.chgDt,.chgCd {width: 14%; text-align: center;}
.chgBfCnt,.chgAftCnt,.lstUpdId {width: 17%;}
.lstUpdDt {width: 19%; text-align: center;}

.one-content {
	cursor: auto;
}