@charset "UTF-8";

/*네비게이션 고정*/
#gnb>li:nth-child(1)>.lnb {
	display: block;
}
#gnb>li:nth-child(1)>.lnb>li:nth-child(1) {
	background-color: #012840;
}
#gnb>li:nth-child(1)>.lnb>li:nth-child(1)>a {
	color: #fff;
}

/* .container>form {
	height: 210px;
	margin-right: 60px;
	background-color: #fff;
	position: fixed;
} */
/* .box-scroll {
	width: 100%;
	margin-top: 230px;
	overflow: auto;
} */

/*신규등록 버튼*/
#addCustBtn {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 0;
	border: 1px #c8c8c8 solid;
}

/*검색 영역*/
.box-search {
	width: 100%;
	height: 150px;
	padding: 20px;
	border: 1px #C8C8C8 solid; 
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.area-input {
	width: 90%;
}

/*각 검색 요소*/
.one-search {
	width: 50%;
	height: 50%;
	padding-right: 50px;
	display: flex;
	align-items: center;
	float: left;
}
.one-search:nth-child(2n) {
	padding-right: 30px;
}
.search-title {
	display: inline-block;
	width: 25%;
	text-align: right;
	padding-right: 5%;
}

/*매장,고객번호 input*/
.box-input-text {
	width: 75%;
	display: flex;
	justify-content: flex-start;
}
.box-input-text>input:first-child {
	width: 42%;
}
.style-input {
	width: 45%;
}

/*매장,고객번호 검색 버튼*/
.box-input-text>button {
	width: 13%;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.box-input-text>button>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
}

/*필수입력 표시*/
.required {
	color: #C22B12;
}

/*radio input*/
.box-input-radio,
.box-input-date {
	width: 75%;
	display: flex;
	justify-content: space-between;
}
.box-input-radio>label>input {
	margin-right: 8px;
}

/*date input*/
.box-input-date>input {
	width: 47.5%;
	height: 30px;
	padding: 0 15px;
	font-size: 14px;
	border: 1px #c8c8c8 solid;
}
.box-input-date>input:last-child {
	margin-right: 0;
}

/*최종검색 버튼*/
.area-btn {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
button[type="submit"] {
	width: 80px;
	height: 80px;
	background-color: #114574;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
}
button[type="submit"]>span {
	font-size: 35px;
	color: #fff;
	padding-top: 5px;
}

/*결과 영역*/
.box-result {
	width: 100%;
	height: calc(100vh - 490px);
	overflow: auto;
}
.custNo, .custNm, .jsDt {width: 12%;}
.jnPrt {width: 10%;}
.custSs {width: 8%;}
.mblNo {width: 13%}
.firReg {width: 14%;}
.lstUpdDt {width: 17%;}

/*텍스트 중앙 정렬*/
.mblNo,
.custSs,
.jsDt,
.lstUpdDt {
	text-align: center;
}

/*테이블 제목*/
.result-title {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #eee;
}
.result-title>span {
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	font-weight: 700;
	border-right: 1px #d9d9d9 solid;
}
.result-title>span:last-child {
	border-right: 0;
}

/*테이블 내용*/
.result-content {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px #d9d9d9 solid;
}
.result-content:last-child {
	border-bottom: 0;
}
.result-content>span {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	border-right: 1px #d9d9d9 solid;
	position: relative;
}
.result-content>span>span:first-child {
	font-size: 14px;
}
.result-content>span:last-child {
	border-right: 0;
}

/*이력,상세 버튼*/
.result-content>span>button {
	width: 25px;
	height: 25px;
	border: 1px #c8c8c8 solid;
	border-radius: 5px;
	cursor: pointer;
	
	position: absolute;
	right: 15px;
	top: 18px;
}
.result-content>span>button>span {
	font-size: 18px;
	padding-top: 3px;
}

/*결과가 없을 때*/
.box-result>p {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}