<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<util:properties id="db" location="classpath:/settings.properties"></util:properties>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{db['jdbc.driver']}"></property>
		<property name="url" value="#{db['jdbc.url']}"></property>
		<property name="username" value="#{db['jdbc.username']}"></property>
		<property name="password" value="#{db['jdbc.password']}"></property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:/mybatis/mapper/**/*SQL.xml"></property>
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"></property>
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSession"></constructor-arg>
	</bean>
	
	<!-- Transaction Manager Bean 생성 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- AOP 설정을 위한 Transaction Advice 설정-->
	<tx:advice id="txAdvice" transaction-manager="txManager">
	<tx:attributes>
		<tx:method name="select*" read-only="true"/>  <!-- read-only 설정은 select* 로 되는 메소드명은 읽기전용이라는 의미 (트랜잭션 관여하지 않음) --> 
		<tx:method name="*"/> <!-- 이외에 모든 메소드들은 트랜잭션이 관여 해라 라는 의미 -->
	</tx:attributes>
	</tx:advice>

	<!-- AOP 처리을 위한 Transaction Advice 설정-->
	<aop:config>
		<aop:pointcut expression="execution(* kr.or.iei.member.model.service.MemberServiceImpl.*(..))" id="txPointCut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
	</aop:config>

</beans>
