<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cust">
	<!-- 고객상태 조회 쿼리 -->
	<select id="selectCustSs" resultType="cust">
		SELECT DTL_CD AS CUSTSSCD, 		--세부코드
			   DTL_CD_NM AS CUSTSSNM	--세부코드명
		FROM MA_CODE_DT 				--코드상세 테이블
		WHERE CODE_CD='CUST_SS_CD'		--공통코드가 'CUST_SS_CD'인 것만 조회
	</select>

	<!-- 직업 조회 쿼리 -->
	<select id="selectPoc" resultType="cust">
		SELECT DTL_CD AS POCCD, 	--세부코드
			   DTL_CD_NM AS POCNM	--세부코드명
		FROM MA_CODE_DT 			--코드상세 테이블
		WHERE CODE_CD='POC_CD'		--공통코드가 'POC_CD'인 것만 조회
	</select>
	
	<!-- 성별 조회 쿼리 -->
	<select id="selectSex" resultType="cust">
		SELECT DTL_CD AS SEXCD, 	--세부코드
			   DTL_CD_NM AS SEXNM	--세부코드명
		FROM MA_CODE_DT 			--코드상세 테이블
		WHERE CODE_CD='SEX_CD'		--공통코드가 'SEX_CD'인 것만 조회
	</select>
	
	<!-- 우편물수령코드 조회 쿼리 -->
	<select id="selectPsmtGrc" resultType="cust">
		SELECT DTL_CD AS PSMTGRCCD, 	--세부코드
			   DTL_CD_NM AS PSMTGRCNM	--세부코드명
		FROM MA_CODE_DT 				--코드상세 테이블
		WHERE CODE_CD='PSMT_GRC_CD'		--공통코드가 'PSMT_GRC_CD'인 것만 조회
	</select>

	<!-- 고객 전체 검색 쿼리 -->
	<select id="selectSearchCust" parameterType="hashmap" resultType="cust">
		SELECT
		    C.CUST_NO AS CUSTNO,                                                                                          	--고객번호
		    CASE                                                                                                          	--고객이름(마스킹처리)
		        WHEN LENGTH(C.CUST_NM)=2 THEN SUBSTR(C.CUST_NM,1,1)||LPAD('*',1)                                          	--이름이 2자일 때 끝자리만 *
		        WHEN LENGTH(C.CUST_NM)>=3
		            THEN SUBSTR(C.CUST_NM,1,1)||LPAD('*',LENGTH(C.CUST_NM)-2,'*')||SUBSTR(C.CUST_NM,LENGTH(C.CUST_NM),1)  	--이름이 3자 이상일 때 맨 앞뒤 제외 중간만 *
		        ELSE C.CUST_NM                                                                                            	--예외: 이름 전체 출력
		    END AS CUSTNM,
		    CASE                                                                                                          	--휴대폰번호(하이픈,마스킹처리)
		        WHEN LENGTH(C.MBL_NO)=10 THEN SUBSTR(C.MBL_NO,1,3)||'-***-'||SUBSTR(C.MBL_NO,7)                           	--휴대폰 번호가 10자리일 때 '000-***-0000'의 형식
		        WHEN LENGTH(C.MBL_NO)=11 THEN SUBSTR(C.MBL_NO,1,3)||'-****-'||SUBSTR(C.MBL_NO,8)                          	--휴대폰 번호가 11자리일 때 '000-****-0000'의 형식 
		        ELSE '-'                                                                                                  	--예외: '-'의 형식으로 출력
		    END AS MBLNO,
		    (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=C.CUST_SS_CD AND CODE_CD='CUST_SS_CD') AS CUSTSSNM,		--고객상태(세부코드명)
		    CASE                                                                                                            --가입일자(하이픈처리)
		        WHEN REGEXP_INSTR(C.JS_DT,'[^0-9.]')=0 AND LENGTH(C.JS_DT)=8												--가입일자가 숫자로 이루어진 8자리일 때 'YYYY-MM-DD'의 형식
		            THEN SUBSTR(C.JS_DT,1,4)||'-'||SUBSTR(C.JS_DT,5,2)||'-'||SUBSTR(C.JS_DT,7)
		        ELSE '0000-00-00'                                                                                           --예외: '0000-00-00'의 형식으로 출력
		    END AS JSDT,    
		    P.PRT_NM AS PRTNM,                                                                                              --가입매장이름(JOIN)
		    C.FST_USER_ID AS FSTUSERID,																						--최초등록자
		    U.USER_NM AS FSTUSERNM,                                                                   						--최초등록자이름(JOIN)
		    TO_CHAR(C.LST_UPD_DT,'YYYY-MM-DD HH24MISS') AS LSTUPDDTFM                                                     	--최종수정일자(YYYY-MM-DD HH24MISS 형식)
		FROM CS_CUST01_MT C																									--고객관리 테이블
		    LEFT JOIN MA_PRT_MT P ON (C.JN_PRT_CD=P.PRT_CD)                                                               	--고객관리,거래처관리 JOIN(PRT_CD)
    		LEFT JOIN MA_USER_MT U ON (C.FST_USER_ID=U.USER_ID)                                                           	--고객관리,사용자 JOIN(FST_USER_ID/USER_ID)
		WHERE 1=1
		 	AND (C.JS_DT BETWEEN TO_DATE(#{jsDtFrom}) AND TO_DATE(#{jsDtTo}))                                               --가입일자로 조회
			<if test="custSsCd!=null and !custSsCd.equals('all')">
		    AND C.CUST_SS_CD = #{custSsCd}                                                                              	--고객상태코드로 조회
		    </if>
		    <if test="prtCd!=null and !prtCd.isEmpty()">
		    AND P.PRT_CD = #{prtCd}                                                                      				  	--매장코드로 조회
		    </if>
		    <if test="custNo!=null and !custNo.isEmpty()">
		    AND C.CUST_NO = #{custNo}                                                                                   	--고객번호로 조회
		    </if>
		ORDER BY 1                                                                                                        	--고객번호 오름차순
	</select>
	
	<!-- 거래처 검색 쿼리 -->
	<select id="selectPrt" parameterType="String" resultType="prt">
		SELECT 
		    PRT_CD AS PRTCD,                                                                                        --거래처코드
		    PRT_NM AS PRTNM,                                                                                        --거래처명
		    (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=P.PRT_SS_CD AND CODE_CD='PRT_SS_CD') AS PRTSSNM    --거래처상태(세부코드명_스칼라쿼리)
		FROM MA_PRT_MT P                                                                                            --거래처관리 테이블
		WHERE 1=1
			AND PRT_DT_CD = 2                                     													--거래처구분코드 '2'만 조회 - 1:본사 / 2:매장
		    AND (PRT_CD LIKE '%'||#{keyword}||'%' OR PRT_NM LIKE '%'||#{keyword}||'%')								--거래처코드 또는 거래처이름으로 조회 								
	</select>
	
	<!-- 고객 검색 쿼리 -->
	<select id="selectCust" parameterType="hashmap" resultType="cust">
		SELECT  
		    C.CUST_NO AS CUSTNO,                                                                                        --고객번호
		    C.CUST_NM AS CUSTNM,                                                                                        --고객이름
		    CASE                                                                                                        --휴대폰번호(하이픈처리)
		        WHEN LENGTH(C.MBL_NO)=10 THEN SUBSTR(C.MBL_NO,1,3)||'-'||SUBSTR(C.MBL_NO,4,3)||'-'||SUBSTR(C.MBL_NO,7)  --휴대폰 번호가 10자리일 때 '000-000-0000'의 형식
		        WHEN LENGTH(C.MBL_NO)=11 THEN SUBSTR(C.MBL_NO,1,3)||'-'||SUBSTR(C.MBL_NO,4,4)||'-'||SUBSTR(C.MBL_NO,8)  --휴대폰 번호가 11자리일 때 '000-0000-0000'의 형식
		        ELSE '-'                                                                                                --예외: '-'의 형식으로 출력
		    END AS MBLNO,
		    (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=C.CUST_SS_CD AND CODE_CD='CUST_SS_CD') AS CUSTSSNM		--고객상태(세부코드명)
		FROM CS_CUST01_MT C		                                                                                    	--고객관리 테이블
		WHERE 1=1
		<!-- 검색내역이 비어있냐에 따라 따로 조건처리 -->
		<choose>
			<when test="mblNo.isEmpty()">
				AND CUST_NM LIKE '%'||#{custNm}||'%'																	--고객이름으로 조회
			</when>
			<otherwise>
				AND CUST_NM LIKE '%'||#{custNm}||'%' AND MBL_NO = #{mblNo}												--고객이름,핸드폰번호를 동시에 조회
			</otherwise>
		</choose>
		ORDER BY 1     																									--고객번호 오름차순
	</select>
	
	<!-- 고객이름 조회 쿼리 -->
	<select id="selectCustNm" parameterType="String" resultType="String">
		SELECT CUST_NM AS CUSTNM 	--고객이름
		FROM CS_CUST01_MT 			--고객관리 테이블
		WHERE CUST_NO = #{custNo}	--고객번호로 조회
	</select>
	
	<!-- 고객이력 조회 쿼리 -->
	<select id="selectCustHt" parameterType="String" resultType="custHt">
		SELECT
		    H.CUST_NO AS CUSTNO,                                              																						--고객번호
		    C.CUST_Nm AS CUSTNM,                                              																						--고객이름(JOIN)
		    CASE                                                                                                        											--변경일자(하이픈 처리)
		        WHEN REGEXP_INSTR(C.JS_DT,'[^0-9.]')=0 AND LENGTH(C.JS_DT)=8 																						--변경일자가 숫자로 이루어진 8자리일 때 'YYYY-MM-DD'의 형식
		        	THEN SUBSTR(H.CHG_DT,1,4)||'-'||SUBSTR(H.CHG_DT,5,2)||'-'||SUBSTR(H.CHG_DT,7)
		        ELSE '0000-00-00'                                                                                       											--예외: '0000-00-00'의 형식으로 출력
		    END AS CHGDT,
		    CASE                                                              																						--변경항목(한글변경)
		        WHEN H.CHG_CD='CUST_NO' THEN '고객번호'                         																						--'CUST_NO'일 때 '고객번호'출력
		        WHEN H.CHG_CD='CUST_NM' THEN '고객이름'                         																						--'CUST_NM'일 때 '고객이름'출력
		        WHEN H.CHG_CD='SEX_CD' THEN '성별코드'                          																						--'SEX_CD'일 때 '성별코드'출력
		        WHEN H.CHG_CD='BRDY_DT' THEN '생년월일'                         																						--'BRDY_DT'일 때 '생년월일'출력
		        WHEN H.CHG_CD='POC_CD' THEN '직업'                             																						--'POC_CD'일 때 '직업'출력
		        WHEN H.CHG_CD='MBL_NO' THEN '핸드폰번호'                         																						--'MBL_NO'일 때 '핸드폰번호'출력
		        WHEN H.CHG_CD='CUST_SS_CD' THEN '고객상태'                      																						--'CUST_SS_CD'일 때 '고객상태'출력
		        WHEN H.CHG_CD='JN_PRT_CD' THEN '가입매장'                       																						--'JN_PRT_CD'일 때 '가입매장'출력
		        WHEN H.CHG_CD='STP_DT' THEN '중지일자'                          																						--'STP_DT'일 때 '중지일자'출력
		        WHEN H.CHG_CD='CNCL_DT' THEN '해지일자'                         																						--'CNCL_DT'일 때 '해지일자'출력
		    END AS CHGCD,
		    CASE																																					--변경전내용
		        WHEN H.CHG_CD='SEX_CD' 																																--변경항목이 'SEX_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_BF_CNT AND CODE_CD='SEX_CD')													--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='BRDY_DT' THEN 																														--변경항목이 'BRDY_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_BF_CNT,'-',''))=8                                                     											--생년월일이 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),7)                    
		                ELSE '-'                                                                                        											--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='POC_CD'  																															--변경항목이 'POC_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_BF_CNT AND CODE_CD='POC_CD')													--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='MBL_NO' THEN 																														--변경항목이 'MBL_NO'일 때
		            CASE 
		                WHEN LENGTH(H.CHG_BF_CNT)=10 																												--휴대폰 번호가 10자리일 때 '000-000-0000'의 형식
		                    THEN SUBSTR(H.CHG_BF_CNT,1,3)||'-'||SUBSTR(H.CHG_BF_CNT,4,3)||'-'||SUBSTR(H.CHG_BF_CNT,7)  
		                WHEN LENGTH(H.CHG_BF_CNT)=11 																												--휴대폰 번호가 11자리일 때 '000-0000-0000'의 형식
		                    THEN SUBSTR(H.CHG_BF_CNT,1,3)||'-'||SUBSTR(H.CHG_BF_CNT,4,4)||'-'||SUBSTR(H.CHG_BF_CNT,8)
		                ELSE '-'																																	--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='CUST_SS_CD'  																														--변경항목이 'CUST_SS_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_BF_CNT AND CODE_CD='CUST_SS_CD')												--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='JN_PRT_CD'                                                                          													--변경항목이 'JN_PRT_CD'일 때
		            THEN (SELECT P.PRT_NM FROM MA_PRT_MT P WHERE P.PRT_CD=H.CHG_BF_CNT)																				--매장명_스칼라쿼리 출력
		        WHEN H.CHG_CD='STP_DT' THEN                                                                             											--변경항목이 'STP_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_BF_CNT,'-',''))=8                                                     											--중지일자가 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),7)                    
		                ELSE '-'                                                                                        											--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='CNCL_DT' THEN                                                                            											--변경항목이 'CNCL_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_BF_CNT,'-',''))=8                                                     											--해지일자가 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_BF_CNT,'-',''),7)                    
		                ELSE '-'                                                                                        											--예외: '-'의 형식으로 출력
		            END
		        ELSE NVL(H.CHG_BF_CNT,'-')																															--전체예외: 원 내용 전체 출력_NULL값 '-'형식
		    END CHGBFCNT,
		    CASE                                                            																						--변경 후 내용
		        WHEN H.CHG_CD='SEX_CD'  																															--변경항목이 'SEX_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_AFT_CNT AND CODE_CD='SEX_CD')													--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='BRDY_DT' THEN 																														--변경항목이 'BRDY_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_AFT_CNT,'-',''))=8                                                     											--생년월일이 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),7)                    
		                ELSE '-'                                                                                        											--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='POC_CD'   																															--변경항목이 'POC_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_AFT_CNT AND CODE_CD='POC_CD')													--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='MBL_NO' THEN																															--변경항목이 'MBL_NO'일 때
		            CASE 
		                WHEN LENGTH(H.CHG_AFT_CNT)=10 																												--휴대폰 번호가 10자리일 때 '000-000-0000'의 형식
		                    THEN SUBSTR(H.CHG_AFT_CNT,1,3)||'-'||SUBSTR(H.CHG_AFT_CNT,4,3)||'-'||SUBSTR(H.CHG_AFT_CNT,7)  
		                WHEN LENGTH(H.CHG_AFT_CNT)=11  																												--휴대폰 번호가 11자리일 때 '000-0000-0000'의 형식
		                    THEN SUBSTR(H.CHG_AFT_CNT,1,3)||'-'||SUBSTR(H.CHG_AFT_CNT,4,4)||'-'||SUBSTR(H.CHG_AFT_CNT,8)
		                ELSE '-'																																	--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='CUST_SS_CD'   																														--변경항목이 'CUST_SS_CD'일 때
		            THEN (SELECT D.DTL_CD_NM FROM MA_CODE_DT D WHERE D.DTL_CD=H.CHG_AFT_CNT AND CODE_CD='CUST_SS_CD')												--세부코드명_스칼라쿼리 출력
		        WHEN H.CHG_CD='JN_PRT_CD'                                                                          													--변경항목이 'JN_PRT_CD'일 때
		            THEN (SELECT P.PRT_NM FROM MA_PRT_MT P WHERE P.PRT_CD=H.CHG_AFT_CNT)																			--매장명_스칼라쿼리 출력
		        WHEN H.CHG_CD='STP_DT' THEN                                                                             											--변경항목이 'STP_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_AFT_CNT,'-',''))=8                                                     											--중지일자가 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),7)                    
		                ELSE '-'                                                                                        											--예외: '-'의 형식으로 출력
		            END
		        WHEN H.CHG_CD='CNCL_DT' THEN                                                                            											--변경항목이 'CNCL_DT'일 때
		            CASE 
		                WHEN LENGTH(REPLACE(H.CHG_AFT_CNT,'-',''))=8                                                     											--해지일자가 8자리일 때 'YYYY-MM-DD'의 형식
		                    THEN SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),1,4)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),5,2)||'-'||SUBSTR(REPLACE(H.CHG_AFT_CNT,'-',''),7)                    
		                ELSE '-'                                                                                       												--예외: '-'의 형식으로 출력
		            END
		        ELSE NVL(H.CHG_AFT_CNT,'-')																															--전체예외: 원 내용 전체 출력_NULL값 '-'형식
		    END CHGAFTCNT,
		    H.LST_UPD_ID AS LSTUPDID,                                       																						--최종수정자
		    U.USER_NM AS LSTUPDNM,                                          																						--최종수정자이름(JOIN)
		    TO_CHAR(H.LST_UPD_DT,'YYYY-MM-DD HH24MISS') AS LSTUPDDTFM,                                       														--최종수정일자(YYYY-MM-DD HH24MISS 형식)
		    H.CHG_SEQ as CHGSEQ                         																											--일련번호
		FROM SD_CUST01_HT H																																			--고객이력 테이블
		    LEFT JOIN CS_CUST01_MT C ON (H.CUST_NO=C.CUST_NO)       																								--고객이력,고객관리 JOIN(CUST_NO)
		    LEFT JOIN MA_USER_MT U ON (H.LST_UPD_ID=U.USER_ID)      																								--고객이력,사용자 JOIN(LST_UPD_ID=USER_ID)
		WHERE H.CUST_NO = #{custNo}																																	--고객번호로 조회
		ORDER BY 3 DESC, 10 DESC																																	--변경일자,일련번호 내림차순
	</select>
	
	<select id="selectmblNo" parameterType="hashmap" resultType="String">
		SELECT 
			<choose>
				<when test="custNo!=null and !custNo.isEmpty()">
				CASE
			        WHEN CUST_NO!=#{custNo, jdbcType=VARCHAR} THEN MBL_NO
			        ELSE 'MINE'
			    END AS MBLNO
				</when>
				<otherwise>
				MBL_NO AS MBLNO
				</otherwise>
			</choose>
		FROM CS_CUST01_MT								--고객관리 테이블
		WHERE MBL_NO=#{mblNo}							--휴대폰번호로 조회
	</select>
	
	<insert id="insertCust" parameterType="hashmap">
		INSERT INTO CS_CUST01_MT ( 			--고객관리 테이블
		    CUST_NO,						--고객번호
		    CUST_NM,						--고객이름
		    SEX_CD,							--성별코드
		    SCAL_YN,						--양음력구분
		    BRDY_DT,						--생년월일
		    MRRG_DT,						--결혼기념일
		    POC_CD,							--직업코드
		    MBL_NO,							--휴대폰번호
		    PSMT_GRC_CD,					--우편물수령코드
		    EMAIL,							--이메일주소
		    ADDR,							--주소
		    ADDR_DTL,						--상세주소
		    CUST_SS_CD,						--고객상태코드
		    JN_PRT_CD,						--가입매장코드
		    EMAIL_RCV_YN,					--이메일수신동의여부
		    SMS_RCV_YN,						--SMS수신동의여부
		    TM_RCV_YN,						--TM수신동의여부
		    DM_RCV_YN,						--DM수신동의여부
		    FST_JS_DT,						--최초가입일자
		    JS_DT,							--가입일자
		    FST_REG_DT,						--최초등록일자
		    FST_USER_ID,					--최초등록자
		    LST_UPD_DT,						--최종수정일자
		    LST_UPD_ID) 					--최종수정자
		VALUES (
		    (SELECT 						--현재 고객번호 맨끝+1
				NVL(MAX(CUST_NO),0)+1 
			FROM CS_CUST01_MT),
		    #{custNm},						--입력한 고객이름
		    #{sexCd},						--선택한 성별코드
		    #{scalYn},						--선택한 양음력구분
		    #{brdyDt},						--입력한 생년월일
		    #{mrrgDt},						--입력한 결혼기념일
		    #{pocCd},						--선택한 직업코드
		    #{mblNo},						--입력한 휴대폰번호
		    #{psmtGrcCd},					--선택한 우편물수령코드
		    #{email},						--입력한 이메일 주소
		    #{addr},						--입력한 주소
		    #{addrDtl},						--입력한 상세주소
		    '10',							--고객상태코드 default(정상)
		    #{prtCd},						--입력한 가입매장코드
		    #{emailRcvYn},					--선택한 이메일수신동의여부
		    #{smsRcvYn},					--선택한 SMS수신동의여부
		    'N',							--TM수신동의여부 default('N')
		    #{dmRcvYn},						--DM수신동의여부
		    TO_CHAR(SYSDATE,'YYYYMMDD'),	--최초가입일자 default(sysdate)
		    TO_CHAR(SYSDATE,'YYYYMMDD'),	--가입일자 default(sysdate)
		    SYSDATE,						--최초등록일자 (sysdate)
		    #{userId}, 						--세션 아이디
		    SYSDATE,						--최종수정일자 (sysdate)
		    #{userId} 						--세션 아이디
		)
	</insert>
	
	<select id="selectOneCust" parameterType="String" resultType="cust">
		SELECT 
		    C.CUST_NM AS CUSTNM,																						--고객명
		    C.SEX_CD AS SEXCD,																							--성별코드
		    C.POC_CD AS POCCD,																							--직업코드
		    TO_CHAR(TO_DATE(C.BRDY_DT),'YYYY-MM-DD') AS BRDYDT,															--생년월일
		    C.SCAL_YN AS SCALYN,																						--양음력구분
		    TO_CHAR(TO_DATE(C.MRRG_DT),'YYYY-MM-DD') AS MRRYDT,															--결혼기념일
		    C.MBL_NO AS MBLNO,																							--휴대폰번호
		    C.EMAIL,																									--이메일
		    C.PSMT_GRC_CD AS PSMTGRCCD,																					--우편물 수령코드
		    C.ADDR,																										--주소
		    C.ADDR_DTL AS ADDRDTL,																						--상세주소
		    C.JN_PRT_CD AS PRTCD,																						--가입매장코드
		    P.PRT_NM AS PRTNM,																							--가입매장이름
		    C.CUST_SS_CD AS CUSTSSCD,																					--고객상태코드
		    TO_CHAR(TO_DATE(C.FST_JS_DT),'YYYY-MM-DD') AS FSTJSDT,														--최초가입일자
		    TO_CHAR(TO_DATE(C.JS_DT),'YYYY-MM-DD') AS JSDT,																--가입일자
		    NVL(TO_CHAR(TO_DATE(C.STP_DT),'YYYY-MM-DD'),'-') AS STPDT,													--중지일자
		    NVL(TO_CHAR(TO_DATE(C.CNCL_DT),'YYYY-MM-DD'),'-') AS CNCLDT,												--해지일자
		    C.CNCL_CNTS AS CNCLCNTS,																					--해지사유
		    NVL(TO_CHAR((SELECT SUM(CASE 																					--총구매금액_스칼라쿼리 출력
					            	WHEN SAL_TP_CD='SAL' THEN 1*TOT_SAL_AMT												--판매일시 금액*1
					            	WHEN SAL_TP_CD='RTN' THEN -1*TOT_SAL_AMT											--반품일시 금액*(-1)
					            	ELSE TOT_SAL_AMT
					        	END)
					FROM CS_SAL01_MT
					WHERE CUST_NO=#{custNo}),'FM999,999,999'),0) AS TOTLPRSAMT,											--포맷변경(소수점 추가)
		    NVL(TO_CHAR((SELECT SUM(CASE 																					--당월구매금액_스칼라쿼리 출력
									WHEN SAL_TP_CD='SAL' THEN 1*TOT_SAL_AMT												--판매일시 금액*1
									WHEN SAL_TP_CD='RTN' THEN -1*TOT_SAL_AMT											--반품일시 금액*(-1)
									ELSE TOT_SAL_AMT
								END)
					FROM CS_SAL01_MT
					WHERE CUST_NO=#{custNo}
						AND SAL_DT BETWEEN TRUNC(SYSDATE,'MM') AND LAST_DAY(SYSDATE)),'FM999,999,999'),0) AS PRSAMTMTH,	--포맷변경(소수점 추가)
		    NVL((SELECT 
		    		TO_CHAR(TO_DATE(MAX(SAL_DT)),'YYYY-MM-DD') 
		    	FROM CS_SAL01_MT 
		    	WHERE CUST_NO=#{custNo}),'-') AS LSTPRSDT,																--최종구매일_스칼라쿼리 출력
		    C.EMAIL_RCV_YN AS EMAILRCVYN,																				--이메일수신동의여부
		    C.SMS_RCV_YN AS SMSRCVYN,																					--SMS수신동의여부
		    C.DM_RCV_YN AS DMRCVYN																						--DM수신동의여부
		FROM CS_CUST01_MT C																								--고객관리 테이블
		    LEFT JOIN MA_PRT_MT P ON (C.JN_PRT_CD=P.PRT_CD)																--고객관리,거래처관리 JOIN(PRT_CD)
		WHERE CUST_NO=#{custNo}																							--회원번호로 조회
	</select>
	
	<insert id="insertCustHt" parameterType="hashmap">
		INSERT ALL 
		<foreach collection="infoChgMap" item="item" index="index" open="INTO SD_CUST01_HT VALUES" separator="" close="SELECT * FROM DUAL">
	        (#{custNo},
	         TO_CHAR(SYSDATE,'YYYYMMDD'),
	         NVL((SELECT NVL(MAX(CHG_SEQ),1) FROM SD_CUST01_HT WHERE CUST_NO=#{custNo} AND CHG_DT=TO_CHAR(SYSDATE,'YYYYMMDD')),1) + #{index},
	         #{htList.chgCd},
	         #{htList.chgBfCnt},
	         #{htList.chgAftCnt},
	         SYSDATE,
	         #{userId}, 
	         SYSDATE,
	         #{userId})
  		</foreach>
	</insert>
	
	<update id="updateCust" parameterType="hashmap">
		UPDATE CS_CUST01_MT SET 								--고객관리 테이블
		      CUST_NO = #{custNo}								--고객번호
		      , CUST_NM = #{custNm}								--고객이름
		      , SEX_CD = #{sexCd}								--성별코드
		      , SCAL_YN = #{scalYn}								--양음력구분
		      , BRDY_DT = #{brdyDt}								--생년월일
		      , MRRG_DT = #{mrrgDt}								--결혼기념일
		      , POC_CD = #{pocCd}								--직업코드
		      , MBL_NO = #{mblNo}								--휴대폰번호
		      , PSMT_GRC_CD = #{psmtGrcCd}						--우편물수령코드
		      , EMAIL = #{email}								--이메일
		      , ADDR = #{addr}									--주소
		      , ADDR_DTL = #{addrDtl}							--상세주소
		      , JN_PRT_CD = #{prtCd}							--가입매장
		      , EMAIL_RCV_YN = #{emailRcvYn}					--이메일수신동의여부
		      , SMS_RCV_YN = #{smsRcvYn}						--sms수신동의여부
		      , DM_RCV_YN = #{dmRcvYn}							--dm수신동의여부
				<choose>
					<when test="custSsCd.equals('10') ">		--고객상태코드 정상으로 변경
					, CUST_SS_CD = #{custSsCd}					--고객상태코드
					, JS_DT = TO_CHAR(SYSDATE,'YYYYMMDD')		--가입일자 오늘로 변경
					, STP_DT = NULL								--중지일자 초기화
					, CNCL_DT = NULL							--해지일자 초기화
					, CNCL_CNTS = NULL							--해지사유 초기화
					</when>
					<when test="custSsCd.equals('80') ">		--고객상태코드 중지로 변경
					, CUST_SS_CD = #{custSsCd}					--고객상태코드
					, STP_DT = TO_CHAR(SYSDATE,'YYYYMMDD')		--해지일자 오늘
					</when>
					<otherwise>									--고객상태코드 해지로 변경
					, CUST_SS_CD = #{custSsCd}					--고객상태코드
					, CNCL_DT = TO_CHAR(SYSDATE,'YYYYMMDD')		
					, CNCL_CNTS = #{cnclCnts}
					</otherwise>
				</choose>
		WHERE CUST_NO = #{custNo}
	</update>
</mapper>
