@charset "UTF-8";

/*네비게이션 고정*/
#gnb>li:nth-child(2)>.lnb {
	display: block;
}
#gnb>li:nth-child(2)>.lnb>li:nth-child(1) {
	background-color: #012840;
}
#gnb>li:nth-child(2)>.lnb>li:nth-child(1)>a {
	color: #fff;
}

/*신규등록 버튼*/
.btn-add {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 0;
	border: 1px #c8c8c8 solid;
}

/*검색 영역*/
.box-search {
	width: 100%;
	height: 150px;
	padding: 20px;
	border: 1px #C8C8C8 solid; 
	margin-bottom: 20px;
}
.box-search>form {
	height: 100%;
	display: flex;
	justify-content: center;
}
.area-input {
	width: 90%;
}

/*각 검색 요소*/
.one-search {
	width: 50%;
	height: 50%;
	padding-right: 50px;
	display: flex;
	align-items: center;
	float: left;
}
.one-search:nth-child(2n) {
	padding-right: 30px;
}
.search-title {
	display: inline-block;
	width: 25%;
	padding-left: 30px;
	position: relative;
}
.required {
	left: 20px;
}

/*매장,고객번호 input*/
.box-input-text {
	width: 75%;
	display: flex;
	justify-content: flex-start;
}
.box-input-text>input:first-child {
	width: 42%;
}
.style-input {
	width: 45%;
}

/*매장,고객번호 검색 버튼*/
.btn-one-search {
	width: 13%;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.btn-one-search>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
}

/*radio input*/
.box-input-date {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

/*date input*/
input[type="date"] {
	width: 47.5%;
}

/*최종검색 버튼*/
.area-btn {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-submit {
	width:70px;
	height: 70px;
	background-color: #114574;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
}
.btn-submit>span {
	font-size: 30px;
	color: #fff;
	padding-top: 5px;
}

/*결과 영역*/
.box-result {
	width: 100%;
}
.salDt, .fstRegDt {width: 10%;}
.custNo {width: 10%;}
.custNm, .salNo {width: 8%;}
.sale {width: 18.5%; height: 100%;}
.payment {width: 27.5%; height: 100%;}
.fstUserId {width: 8%;}

.totSalQty, .totSalAmt {
	width: 50%;
}
.cshStlmAmt, .crdStlmAmt, .pntStlmAmt {
	width: 33.33%;
}

/*텍스트 중앙 정렬*/
.salDt,
.fstRegDt {
	text-align: center;
}

/*테이블 제목*/
.result-title {
	width: 100%;
	height: 60px;
	background-color: #eee;
	display: flex;
    align-items: center;
}
.result-title>span {
	display: inline-block;
	height: 100%;
	line-height: 60px;
	padding: 0 15px;
	text-align: center;
	font-weight: 700;
	border-right: 1px #d9d9d9 solid;
}
.result-title>span.half-height {
	line-height: 30px;
	padding: 0;
}
.result-title>span:last-child {
	border-right: 0;
	vertical-align: middle;
}

/*결과테이블 제목 2칸처리*/
.half-height span {
	display: inline-block;
}
.tit-title, .half-height>div{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
}
.half-height>div>span {
	text-align: center;
	padding: 0 15px;
	font-size: 15px;
	font-weight: 500;
}

/*테이블 내용*/
.result-content {
	width: 100%;
	height: calc(100vh - 550px);
	overflow: auto;
}
.one-content {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px #d9d9d9 solid;
	display: flex;
    justify-content: space-between;
}
.one-content:last-child {
	border-bottom: 0;
}
.one-content>span {
	display: inline-block;
	padding: 0 15px;
	font-size: 14px;
	border-right: 1px #d9d9d9 solid;
	position: relative;
}
.one-content>span.half-height {
	padding: 0;
}
.one-content>span>span:first-child {
	font-size: 14px;
}
.one-content>span:last-child {
	border-right: 0;
}

/*제목2칸짜리 내용 처리*/
.result-content .half-height>span {
	padding: 0 15px;
	display: inline-block;
	float: left;
	text-align: right;
	border-right: 1px #d9d9d9 solid;
	font-size: 14px;
}
.result-content .half-height>span:last-child {
	border-right: 0;
}

/*상세 버튼*/
.btn-icon {
	width: 25px;
	height: 25px;
	border: 1px #c8c8c8 solid;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 18px;
}
.btn-icon>span {
	font-size: 18px;
	padding-top: 3px;
}

/*결과가 없을 때*/
.result-content>p {
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 14px;
}

/*합계*/
.tot-sum {
	width: 100%;
	height: 50px;
	border: 3px #c8c8c8 solid;
	margin-top: 10px;
	display: none;
	align-items: center;
	font-weight: 500;
	text-align: center;
}
.sum-title {
	width: 35%;
}
.sum-result {
	width: 65%;
    text-align: right;
    padding-right: 19%;
}
.sum-result>span {
	display: inline-block;
	width: 19.3%;
	padding: 0 15px;
	font-size: 15px;
	position: relative;
}
.sum-result>span:after {
	content: "";
	display: block;
	width: 1px;
	height: 18px;
	position: absolute;
	right: -1.5px;
    bottom: 1px;
    background-color: #c8c8c8;
}
.sum-result>span:last-child:after {
	content: "";
}

/*반품은 빨간색*/
.RTN {
	color: #FF5E4D;
}

