@charset "UTF-8";

.box-search {
	height: 145px;
	display: block;
}

.one-input {
	display: flex;
	align-items: center;
}

.one-row {
	width: 100%;
	display: flex;
	align-items: center;
}

/*2칸짜리*/
.two-row .one-input {
	width: 50%;
}
.two-row .search-title {
	width: 20.2%;
}
.two-row .box-info {
	width: 79.8%;
	display: flex;
	justify-content: space-between;
}
.two-row .box-info>.style-input {
	width: 47%;
}
.two-row {
	margin-bottom: 15px;
}

/*4칸짜리*/
.four-row .one-input {
	width: 25%;
}
.four-row .search-title {
	width: 44%;
}
.four-row .box-info {
	width: 56%;
}
.four-row .box-info>.style-input {
	width: 100%;
	text-align: right;
}

/*결과영역*/
.seqNum {width: 8%; text-align: right;}
.prdCd, .prdNm {width: 16%; text-align: left;}
.salQty {width: 12%; text-align: right;}
.salVosAmt, .salVatAmt, .salAmt {width: 16%; text-align: right;}

.result-content {
	height: calc(100vh - 361px);
}

.one-content {
	cursor: auto;
}
