@charset "UTF-8";

/*검색영역*/
.box-search {
	height: 130px;
	flex-wrap: wrap;
	padding: 20px 30px;
}
.one-input {
	width: 48%;
	height: 50%;
	margin-right: 0;
	display: flex;
	align-items: center;
	float: left;
}
.search-title {
	width: 28%;
	padding-left: 15px;
	position: relative;
}
.required {
	left: 3px;
}
.box-info {
	width: 72%;
	display: flex;
	align-items: center;
	position: relative;
}
/*date input*/
.box-info>input[type="date"] {
	width: 100%;
}

/*select 영역*/
.box-info>select {
	width: 100%;
}
.select-arrow {
	font-size: 18px;
	position: absolute;
	right: 15px;
	top: 7px;
}
.box-input>select>option {
	font-size: 14px;
}
.box-info>select>option {
	font-size: 14px;
}

/*고객번호*/
.box-cust>.style-input:first-child {
	width: 45%;
}
.box-cust>.style-input:last-child {
	width: 41%;
    margin-left: 6px;
}
/*고객번호 검색 버튼*/
.btn-one-search {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.btn-one-search>span {
	width: 30px;
	height: 30px;
	border: 1px #c8c8c8 solid;
	padding-top: 2px;
}


/*결제금액 영역*/
fieldset {
	width: 100%;
	height: 130px;
	border: 1px #C8C8C8 solid; 
	padding: 15px 25px 10px;
	margin-bottom: 10px;
	display: flex;
	column-gap: 30px;
	flex-wrap: wrap;
}
legend {
	padding: 0 10px;
}

fieldset>.one-input {
	width: 30.5%;
}
.input-title {
	width: 35%;
	font-size: 15px;
}
.box-input {
	width: 65%;
	position: relative;
}
.style-input {
	width: 100%;
}
fieldset>.one-input:last-child {
	width: 65%;
}
.box-crdNo>.input-title{
	width: 16.5%;
}
.box-crdNo>.box-input {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box-crdNo>.box-input>input {
	width: 23%;
}

/*추가삭제 버튼*/
.btn-add {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}
.btn-icon {
	width: 25px;
	height: 25px;
	border: 1px #c8c8c8 solid;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}
.btn-icon>span {
	font-size: 18px;
	padding-top: 3px;
}

/*결과영역*/
.checkbox {width: 6.5%; text-align: center;}
.seqNum {width: 6.5%; text-align: right;}
.prdCd, .prdNm {width: 19.5%;}
.ivcoQty, .salQty, .prdCsmrUpr, .salAmt {
	width: 12%; 
	text-align: right;
}
.box-result {
	min-height: 240px;
}
.result-content {
	height: auto;
	max-height: 120px;
}
.one-content {
	cursor: auto;
}
.one-content>span.prdCd {
	display: flex;
	align-items: center;
}
.prdCd>.style-input {
	width: 81%;
}
.salQty>.style-input {
	text-align: right;
}


/*합계영역*/
.tot-sum {
	width: 100%;
	height: 40px;
	border: 2px #c8c8c8 solid;
	margin-top: 5px;
	display: flex;
	align-items: center;
	font-weight: 500;
	text-align: center;
}
.sum-title {
	width: 64%;
}
.sum-result {
	width: 36%;
    text-align: right;
}
.sum-result>span {
	display: inline-block;
	width: 32.3%;
	padding: 0 10px;
	font-size: 15px;
	position: relative;
}
.sum-result>span:last-child {
	width: 66%;
}
.sum-result>span:first-child {
	padding-right: 23px;
}
/* .sum-result>span:last-child:after {
	display: none;
}
.sum-result>span:after {
	content: "";
	display: block;
	width: 0.5px;
	height: 18px;
	position: absolute;
	right: -1.5px;
    bottom: 1px;
    background-color: #c8c8c8;
}
.sum-result>span:last-child:after {
	content: "";
} */