<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- jdbcType=VARCHAR -->
	<settings> 
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.kr.first.user.model.vo.UserVO" alias="user"/>
		<typeAlias type="com.kr.first.customer.model.vo.CustVO" alias="cust"/>
		<typeAlias type="com.kr.first.customer.model.vo.PrtVO" alias="prt"/>
		<typeAlias type="com.kr.first.customer.model.vo.CustHtVO" alias="custHt"/>
		<typeAlias type="com.kr.first.sale.model.vo.SaleVO" alias="sale"/>
		<typeAlias type="com.kr.first.sale.model.vo.SaleDtVO" alias="saleDt"/>
	</typeAliases>
</configuration>
